@media only screen and (max-device-width: 480px) {
    h1 {
        font-size: 2.5rem;
    }

    .window {
        width: 90%;
        max-height: 1500px;
        margin-bottom: 30px;
    }

    a {
        font-size: 0.9em !important;
    }

    .window p{
        font-size: 0.6em;
    }

    h3 {
        font-size: 1.5rem;
    }

    .select:after {
        right: 2rem;
    }
}
